<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WhaddApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>24B8ABA71E60184400E797F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24B8ABBE1E60184500E797F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24B8ABC91E60184500E797F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
